.grid{ 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 620px;
    height: 620px;
}

.square {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-image: url('../img/mole-no.png');
    background-size: cover;
}

.mole {
    background-image: url('../img/mole.png');
    background-size: cover;
}